fastapi
uvicorn
ollama
pydantic
python-dotenv
asyncpg
pymupdf
python-multipart
langchain-text-splitters
httpx


sqlalchemy 
psycopg2-binary 
asyncpg
pgvector
langchain-community 
langchain-google-genai
marker-pdf[full]